* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#master {
    text-align: center;
    width: 100%;
    height: 15vh;
    line-height: 15vh;
    background-color: #dadada;
    font-size: 4vh;
    font-weight: 100;
}


#buttons {
    display: flex;
    flex-direction: row;
}

#forInput,
#forOutput {
    display: none;
}

.contentImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 70vh;
    border: black solid 2px ;
}

.im {
    margin: 5%;
    max-height: 60vh;
    max-width: 40%;
}

.choiceNumber {
    display: inline-block;
    width: 30%;
    height: 5vh;
    line-height: 2vh;
    font-size: 3vh;
    border: none;
}

.underButton {
    display: inline-block;
    width: 32%;
    height: 5vh;
    line-height: 2vh;
    background: antiquewhite;
    border: none;
}

#outNumber {
    display: inline-block;
    width: 6%;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    background: aqua;
    border: none;
}

#fileToUpload {
    border-right: black solid 1px;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
    padding-left: 10%;
}
